@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
body {
	background-color: white;
}
.head1, p {
	font-family: "Cinzel";
	font-weight: bold;
}
a {
	color: #0B3B39;
}

